# Django
SECRET_KEY=django-insecure-m4g#(tcd4sqoswespz9m!1zh^ds#o4c9w++-ovj9kvjnfmd2ka
DEBUG=True

# Mistral API
MISTRAL_API_KEY=your-mistral-api-key-here

# Django Q (optional, defaults to database broker)
# Q_BROKER=redis://localhost:6379/0
# Q_REDIS=redis://localhost:6379/0